@media screen and (max-width: 1200px) {
    .row,
    .hero-text-box{
        width: 100%;
        padding: 0 30px;
    }
}

@media screen and (max-width: 1024px) {
    .grid-about-container {
        grid-template-columns: 1fr 2fr;
    }
    .grid-about-items:nth-child(3) {
        grid-column: 1/3;
    }
    .grid-process-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .grid-work-container {
        grid-template-columns: 1fr 1fr;
    }
    .grid-contact-container {
        grid-template-columns: 1fr;
    }
    .grid-work-items:nth-child(5) {
        grid-column: 1/2;
    }
}

@media screen and (max-width: 480px) {
    html, body {
        font-size: 8px;
    }
    .grid-about-container {
        grid-template-columns: 1fr;
        grid-gap: 60px 0;
        text-align: center;
    }
    .grid-about-items:nth-child(3) {
        grid-column: 1/2;
    }
    .paul {
        width: 70%;
    }
    .grid-process-container,
    .grid-ex-container,
    .grid-work-container,
    .grid-tmonial-container {
        grid-template-columns: 1fr;
    }
    #testimonial {
        background-image: none;
        background-color: #f5f5f5;
    }
}
